# PASSNYC Compatition

In [1]:
import pandas as pd
pd.set_option('max_rows',100)

In [39]:
schools  = pd.read_csv('2016 School Explorer.csv')
tester = pd.read_csv('D5 SHSAT Registrations and Testers.csv')
schools.head(20)

,Adjusted Grade,New?,Other Location Code in LCGMS,School Name,SED Code,Location Code,District,Latitude,Longitude,Address (Full),...,Grade 8 Math - All Students Tested,Grade 8 Math 4s - All Students,Grade 8 Math 4s - American Indian or Alaska Native,Grade 8 Math 4s - Black or African American,Grade 8 Math 4s - Hispanic or Latino,Grade 8 Math 4s - Asian or Pacific Islander,Grade 8 Math 4s - White,Grade 8 Math 4s - Multiracial,Grade 8 Math 4s - Limited English Proficient,Grade 8 Math 4s - Economically Disadvantaged
0,NaN,NaN,NaN,P.S. 015 ROBERTO CLEMENTE,310100010015,01M015,1,40.721834,-73.978766,"333 E 4TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,P.S. 019 ASHER LEVY,310100010019,01M019,1,40.729892,-73.984231,"185 1ST AVE NEW YORK, NY 10003",...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,NaN,P.S. 020 ANNA SILVER,310100010020,01M020,1,40.721274,-73.986315,"166 ESSEX ST NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,P.S. 034 FRANKLIN D. ROOSEVELT,310100010034,01M034,1,40.726147,-73.975043,"730 E 12TH ST NEW YORK, NY 10009",...,48,1,0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,THE STAR ACADEMY - P.S.63,310100010063,01M063,1,40.724404,-73.986360,"121 E 3RD ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
5,NaN,NaN,NaN,P.S. 064 ROBERT SIMON,310100010064,01M064,1,40.723747,-73.981602,"600 E 6TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
6,NaN,NaN,NaN,P.S. 110 FLORENCE NIGHTINGALE,310100010110,01M110,1,40.715293,-73.979927,"285 DELANCEY ST NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
7,NaN,NaN,NaN,P.S. 134 HENRIETTA SZOLD,310100010134,01M134,1,40.714301,-73.982966,"293 E BROADWAY NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
8,NaN,NaN,NaN,P.S. 140 NATHAN STRAUS,310100010140,01M140,1,40.719128,-73.983283,"123 RIDGE ST NEW YORK, NY 10002",...,61,2,0,0,1,0,0,0,0,1
9,NaN,NaN,NaN,P.S. 142 AMALIA CASTRO,310100010142,01M142,1,40.718230,-73.984082,"100 ATTORNEY ST NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
10,NaN,NaN,NaN,P.S. 184M SHUANG WEN,310100010184,01M184,1,40.711437,-73.985486,"327 CHERRY ST-2ND FL NEW YORK, NY 10002",...,48,28,0,0,0,25,0,0,2,21
11,NaN,NaN,NaN,P.S. 188 THE ISLAND SCHOOL,310100010188,01M188,1,40.719870,-73.977376,"442 E HOUSTON ST NEW YORK, NY 10002",...,50,3,0,0,3,0,0,0,0,3
12,NaN,NaN,NaN,ORCHARD COLLEGIATE ACADEMY,310100011292,01M292,1,40.713343,-73.986069,"220 HENRY ST NEW YORK, NY 10002",...,10,0,0,0,0,0,0,0,0,0
13,NaN,NaN,NaN,"TECHNOLOGY, ARTS, AND SCIENCES STUDIO",310100010301,01M301,1,40.729892,-73.984231,"185 1ST AVE NEW YORK, NY 10003",...,47,1,0,0,0,0,0,0,0,1
14,NaN,NaN,NaN,THE EAST VILLAGE COMMUNITY SCHOOL,310100010315,01M315,1,40.727726,-73.978382,"610 E 12TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
15,NaN,NaN,NaN,UNIVERSITY NEIGHBORHOOD MIDDLE SCHOOL,310100010332,01M332,1,40.713343,-73.986069,"220 HENRY ST NEW YORK, NY 10002",...,30,1,0,0,0,0,0,0,1,0
16,NaN,NaN,NaN,THE CHILDREN'S WORKSHOP SCHOOL,310100010361,01M361,1,40.727726,-73.978382,"610 E 12TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
17,NaN,NaN,NaN,NEIGHBORHOOD SCHOOL,310100010363,01M363,1,40.724404,-73.986360,"121 E 3RD ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
18,NaN,NaN,NaN,EARTH SCHOOL,310100010364,01M364,1,40.723747,-73.981602,"600 E 6TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
19,NaN,NaN,NaN,SCHOOL FOR GLOBAL LEADERS,310100010378,01M378,1,40.720185,-73.985957,"145 STANTON ST NEW YORK, NY 10002",...,74,5,0,0,2,3,0,0,0,4

In [40]:
#import seaborn as sns
#sns.jointplot(x= 'Longitude',  y= 'Latitude',data = schools)
# check NaN status
ds = calculate_na_percentile(schools)
schools_to_clean = schools[ds[calculate_na_percentile(schools)>0].index]
schools_to_clean.head()
#schools['Percent of Students Chronically Absent']

,Other Location Code in LCGMS,Adjusted Grade,New?,School Income Estimate,Student Achievement Rating,Supportive Environment Rating,Rigorous Instruction Rating,Collaborative Teachers Rating,Trust Rating,Effective School Leadership Rating,...,Average ELA Proficiency,Effective School Leadership %,Rigorous Instruction %,Percent of Students Chronically Absent,Collaborative Teachers %,Strong Family-Community Ties %,Student Attendance Rate,Supportive Environment %,Trust %,Economic Need Index
0,NaN,NaN,NaN,"$31,141.72",Approaching Target,Exceeding Target,Meeting Target,Meeting Target,Exceeding Target,Exceeding Target,...,2.14,91%,89%,18%,94%,85%,94%,86%,94%,0.919
1,NaN,NaN,NaN,"$56,462.88",Exceeding Target,NaN,NaN,NaN,Meeting Target,Exceeding Target,...,2.63,90%,96%,30%,96%,86%,92%,97%,94%,0.641
2,NaN,NaN,NaN,"$44,342.61",Approaching Target,Approaching Target,Meeting Target,Meeting Target,Not Meeting Target,Not Meeting Target,...,2.39,61%,87%,20%,77%,80%,94%,82%,79%,0.744
3,NaN,NaN,NaN,"$31,454.00",Exceeding Target,Meeting Target,Approaching Target,Meeting Target,Meeting Target,Approaching Target,...,2.48,73%,85%,28%,78%,89%,92%,82%,88%,0.860
4,NaN,NaN,NaN,"$46,435.59",Meeting Target,Meeting Target,Meeting Target,Meeting Target,Meeting Target,Meeting Target,...,2.38,81%,90%,23%,88%,89%,93%,87%,93%,0.730

## Data Cleaning

In [41]:
from mypack.preprocessing.nan_process import *
schools_cpy = schools.copy()
#first 3 has very high percentage of NaN 
#fill with 0 for later 1-hot
schools[ds[:3].index] = schools[ds[:3].index].fillna(0)
# 3rd is income which i choose to fill with mean
schools['School Income Estimate'] = (
    schools['School Income Estimate']
    .apply(lambda x:convert_finan_digits(x))
    .astype('float32')
    #.fillna(schools['School Income Estimate'].mean())
)
schools['School Income Estimate'] = schools['School Income Estimate'].fillna(schools['School Income Estimate'].mean())
#schools['School Income Estimate']
#next 6 cols catergorical
schools[ds[4:11].index] = schools[ds[4:11].index].fillna('empty', axis = 1)
#schools['Effective School Leadership Rating']
schools['Average Math Proficiency'] = schools['Average Math Proficiency'].fillna(schools['Average Math Proficiency'].mean())
schools['Average ELA Proficiency'] = schools['Average ELA Proficiency'].fillna(schools['Average ELA Proficiency'].mean())

schools[ds[13:21].index] = (
    schools[ds[13:21].index]
    .applymap(lambda x:convert_finan_digits(x))
    .astype('float32')
    )
schools['Economic Need Index'] = schools['Economic Need Index'].fillna(schools['Economic Need Index'].mean())
schools.head(20)

,Adjusted Grade,New?,Other Location Code in LCGMS,School Name,SED Code,Location Code,District,Latitude,Longitude,Address (Full),...,Grade 8 Math - All Students Tested,Grade 8 Math 4s - All Students,Grade 8 Math 4s - American Indian or Alaska Native,Grade 8 Math 4s - Black or African American,Grade 8 Math 4s - Hispanic or Latino,Grade 8 Math 4s - Asian or Pacific Islander,Grade 8 Math 4s - White,Grade 8 Math 4s - Multiracial,Grade 8 Math 4s - Limited English Proficient,Grade 8 Math 4s - Economically Disadvantaged
0,0,0,0,P.S. 015 ROBERTO CLEMENTE,310100010015,01M015,1,40.721834,-73.978766,"333 E 4TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,P.S. 019 ASHER LEVY,310100010019,01M019,1,40.729892,-73.984231,"185 1ST AVE NEW YORK, NY 10003",...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,P.S. 020 ANNA SILVER,310100010020,01M020,1,40.721274,-73.986315,"166 ESSEX ST NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,P.S. 034 FRANKLIN D. ROOSEVELT,310100010034,01M034,1,40.726147,-73.975043,"730 E 12TH ST NEW YORK, NY 10009",...,48,1,0,0,0,0,0,0,0,0
4,0,0,0,THE STAR ACADEMY - P.S.63,310100010063,01M063,1,40.724404,-73.986360,"121 E 3RD ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,P.S. 064 ROBERT SIMON,310100010064,01M064,1,40.723747,-73.981602,"600 E 6TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,P.S. 110 FLORENCE NIGHTINGALE,310100010110,01M110,1,40.715293,-73.979927,"285 DELANCEY ST NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,P.S. 134 HENRIETTA SZOLD,310100010134,01M134,1,40.714301,-73.982966,"293 E BROADWAY NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,P.S. 140 NATHAN STRAUS,310100010140,01M140,1,40.719128,-73.983283,"123 RIDGE ST NEW YORK, NY 10002",...,61,2,0,0,1,0,0,0,0,1
9,0,0,0,P.S. 142 AMALIA CASTRO,310100010142,01M142,1,40.718230,-73.984082,"100 ATTORNEY ST NEW YORK, NY 10002",...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,P.S. 184M SHUANG WEN,310100010184,01M184,1,40.711437,-73.985486,"327 CHERRY ST-2ND FL NEW YORK, NY 10002",...,48,28,0,0,0,25,0,0,2,21
11,0,0,0,P.S. 188 THE ISLAND SCHOOL,310100010188,01M188,1,40.719870,-73.977376,"442 E HOUSTON ST NEW YORK, NY 10002",...,50,3,0,0,3,0,0,0,0,3
12,0,0,0,ORCHARD COLLEGIATE ACADEMY,310100011292,01M292,1,40.713343,-73.986069,"220 HENRY ST NEW YORK, NY 10002",...,10,0,0,0,0,0,0,0,0,0
13,0,0,0,"TECHNOLOGY, ARTS, AND SCIENCES STUDIO",310100010301,01M301,1,40.729892,-73.984231,"185 1ST AVE NEW YORK, NY 10003",...,47,1,0,0,0,0,0,0,0,1
14,0,0,0,THE EAST VILLAGE COMMUNITY SCHOOL,310100010315,01M315,1,40.727726,-73.978382,"610 E 12TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,UNIVERSITY NEIGHBORHOOD MIDDLE SCHOOL,310100010332,01M332,1,40.713343,-73.986069,"220 HENRY ST NEW YORK, NY 10002",...,30,1,0,0,0,0,0,0,1,0
16,0,0,0,THE CHILDREN'S WORKSHOP SCHOOL,310100010361,01M361,1,40.727726,-73.978382,"610 E 12TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,NEIGHBORHOOD SCHOOL,310100010363,01M363,1,40.724404,-73.986360,"121 E 3RD ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,EARTH SCHOOL,310100010364,01M364,1,40.723747,-73.981602,"600 E 6TH ST NEW YORK, NY 10009",...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,SCHOOL FOR GLOBAL LEADERS,310100010378,01M378,1,40.720185,-73.985957,"145 STANTON ST NEW YORK, NY 10002",...,74,5,0,0,2,3,0,0,0,4

## Feature Selection

In [ ]:
#schools[calculate_na_percentile(schools)>0]
#schools_clean = schools.dropna(axis=1)
#hand pick some un-useful columns
#cols_to_drop = ['SED Code','Location Code', 'Address (Full)',  'Zip']
#schools_clean= schools_clean.drop(cols_to_drop, axis=1).set_index('School Name')
#print(list(schools_clean.columns))
#grade_distribution = schools_clean.iloc[:, 14:]
#grade_distribution.head(10)
#schools_clean.head()

In [46]:
tester

,DBN,School name,Year of SHST,Grade level,Enrollment on 10/31,Number of students who registered for the SHSAT,Number of students who took the SHSAT
0,05M046,P.S. 046 Arthur Tappan,2013,8,91,31,14
1,05M046,P.S. 046 Arthur Tappan,2014,8,95,26,7
2,05M046,P.S. 046 Arthur Tappan,2015,8,73,21,10
3,05M046,P.S. 046 Arthur Tappan,2016,8,56,20,8
4,05M123,P.S. 123 Mahalia Jackson,2013,8,62,31,14
5,05M123,P.S. 123 Mahalia Jackson,2014,8,62,25,13
6,05M123,P.S. 123 Mahalia Jackson,2015,8,62,12,5
7,05M123,P.S. 123 Mahalia Jackson,2016,8,55,16,5
8,05M129,P.S. 129 John H. Finley,2013,8,84,58,14
9,05M129,P.S. 129 John H. Finley,2014,8,55,23,12
10,05M129,P.S. 129 John H. Finley,2015,8,63,12,10
11,05M129,P.S. 129 John H. Finley,2016,8,50,15,12
12,05M148,Eagle Academy for Young Men of Harlem,2015,8,76,5,5
13,05M148,Eagle Academy for Young Men of Harlem,2016,8,60,7,6
14,05M148,Eagle Academy for Young Men of Harlem,2016,9,86,0,0
15,05M157,The Urban Assembly School for Global Commerce,2013,9,82,3,1
16,05M157,The Urban Assembly School for Global Commerce,2014,9,103,2,1
17,05M157,The Urban Assembly School for Global Commerce,2015,9,60,2,1
18,05M157,The Urban Assembly School for Global Commerce,2016,9,64,0,0
19,05M161,P.S. 161 Pedro Albizu Campos,2013,8,118,10,5
20,05M161,P.S. 161 Pedro Albizu Campos,2014,8,123,26,17
21,05M161,P.S. 161 Pedro Albizu Campos,2015,8,120,28,22
22,05M161,P.S. 161 Pedro Albizu Campos,2016,8,114,18,11
23,05M286,I.S. M286 Renaissance Leadership Academy,2013,8,60,27,13
24,05M286,I.S. M286 Renaissance Leadership Academy,2014,8,67,44,9
25,05M286,I.S. M286 Renaissance Leadership Academy,2015,8,38,38,6
26,05M286,Urban Assembly Academy for Future Leaders,2016,8,93,90,25
27,05M302,KAPPA IV,2013,8,54,28,15
28,05M302,KAPPA IV,2014,8,86,25,13
29,05M302,KAPPA IV,2015,8,62,18,6
30,05M302,KAPPA IV,2016,8,48,26,6
31,05M304,Mott Hall High School,2013,9,128,0,0
32,05M304,Mott Hall High School,2014,9,144,2,0
33,05M304,Mott Hall High School,2015,9,130,1,1
34,05M304,Mott Hall High School,2016,9,102,0,0
35,05M362,Columbia Secondary School,2013,8,96,43,37
36,05M362,Columbia Secondary School,2014,8,95,94,43
37,05M362,Columbia Secondary School,2015,8,97,46,38
38,05M362,Columbia Secondary School,2016,8,98,50,45
39,05M362,Columbia Secondary School,2013,9,110,7,5
40,05M362,Columbia Secondary School,2014,9,96,4,3
41,05M362,Columbia Secondary School,2015,9,101,0,0
42,05M362,Columbia Secondary School,2016,9,101,9,8
43,05M367,Academy for Social Action: A College Board School,2013,8,30,7,3
44,05M367,Academy for Social Action: A College Board School,2014,8,17,7,1
45,05M367,Academy for Social Action: A College Board School,2013,9,88,0,0
46,05M367,Academy for Social Action: A College Board School,2014,9,74,0,0
47,05M367,Academy for Social Action: A College Board School,2015,9,45,0,0
48,05M367,Academy for Social Action,2016,9,33,0,0
49,05M369,Urban Assembly School for the Performing Arts,2013,9,135,4,3
...,...,...,...,...,...,...,...
90,84M284,Harlem Children's Zone Promise Academy 1 Chart...,2016,8,83,7,6
91,84M284,Harlem Children's Zone Promise Academy 1 Chart...,2014,9,99,1,0
92,84M284,Harlem Children's Zone Promise Academy 1 Chart...,2015,9,70,1,1
93,84M284,Harlem Children's Zone Promise Academy 1 Chart...,2016,9,80,1,1
94,84M336,KIPP Infinity Charter School,2013,8,87,97,11
95,84M336,KIPP Infinity Charter School,2014,8,91,90,18
96,84M336,KIPP Infinity Charter School,2015,8,78,78,12
97,84M336,KIPP Infinity Charter School,2016,8,88,30,24
98,84M336,KIPP Infinity Charter School,2013,9,71,1,0
99,84M336,KIPP Infinity Charter School,2016,9,79,0,0
100,84M341,Harlem Children's Zone Promise Academy II Char...,2013,8,40,9,9
101,84M341,Harlem Children's Zone Promise Academy II Char...,2014,8,76,27,20
102,84M341,Harlem Children's Zone Promise Academy II Char...,2015,8,75,23,21
103,84M341,Harlem Children's Zone Promise Academy II Char...,2016,8,79,10,5
104,84M341,Harlem Children's Zone Promise Academy II Char...,2013,9,35,0,0
105,84M341,Harlem Children's Zone Promise Academy II Char...,2014,9,38,5,5
106,84M341,Harlem Children's Zone Promise Academy II Char...,2015,9,79,1,1
107,84M341,Harlem Children's Zone Promise Academy II Char...,2016,9,76,7,4
108,84M350,Democracy Prep Charter School,2013,8,115,34,26
109,84M350,Democracy Prep Charter School,2014,8,123,42,24
110,84M350,Democracy Prep Charter School,2015,8,112,31,24
111,84M350,Democracy Prep Charter School,2016,8,130,36,24
112,84M350,Democracy Prep Charter School,2013,9,124,0,0
113,84M350,Democracy Prep Charter School,2014,9,122,0,0
114,84M350,Democracy Prep Charter School,2015,9,104,2,2
115,84M350,Democracy Prep Charter School,2016,9,113,0,0
116,84M384,Success Academy Charter School - Harlem 2,2016,8,70,34,32
117,84M388,St. HOPE Leadership Academy Charter School,2013,8,68,27,24
118,84M388,St. HOPE Leadership Academy Charter School,2014,8,76,26,20
119,84M388,St. HOPE Leadership Academy Charter School,2015,8,76,13,10
120,84M388,St. HOPE Leadership Academy Charter School,2016,8,85,18,14
121,84M481,Democracy Prep Harlem Charter School,2013,8,117,21,14
122,84M481,Democracy Prep Harlem Charter School,2014,8,114,26,15
123,84M481,Democracy Prep Harlem Charter School,2015,8,107,24,22
124,84M481,Democracy Prep Harlem Charter School,2016,8,110,17,12
125,84M481,Democracy Prep Harlem Charter School,2013,9,110,0,0
126,84M481,Democracy Prep Harlem Charter School,2014,9,119,0,0
127,84M481,Democracy Prep Harlem Charter School,2015,9,106,1,1
128,84M481,Democracy Prep Harlem Charter School,2016,9,113,0,0
129,84M709,Harlem Village Academy Charter School,2013,8,68,12,8
130,84M709,Harlem Village Academy Charter School,2014,8,65,20,14
131,84M709,Harlem Village Academy Charter School,2015,8,53,26,19
132,84M709,Harlem Village Academy Charter School,2016,8,66,18,16
133,84M709,Harlem Village Academy Charter School,2014,9,61,1,1
134,84M709,Harlem Village Academy Charter School,2015,9,45,2,1
135,84M709,Harlem Village Academy Charter School,2016,9,42,1,1
136,84M726,KIPP STAR College Prep Charter School,2013,8,75,74,29
137,84M726,KIPP STAR College Prep Charter School,2014,8,71,74,19
138,84M726,KIPP STAR College Prep Charter School,2015,8,84,84,29
139,84M726,KIPP STAR College Prep Charter School,2016,8,62,60,19